#about{
    background-color: $white-bg;
    h2{
        font-family: 'Montserrat', sans-serif, 'Times New Roman', Times, serif;
        font-size: 1.2rem;
    }

    #about-lomi{
        background-color: $white-bg;
        .contain{
            /* &.col-12{
                display: none;
            } */
            background: left / cover no-repeat url(../media/lomi-massage_min.jpg);
            opacity: 0.7;
        }
        .content{
            background-color: $brown-bright;
        }
    }
    .after-text{
        text-align: center;
        margin: 5rem 0;
    }
    #more-about-henriette{
        background-color: $green-bright;
    }
}