#about{
    background-color: $white-bg;

    .about-lomi{

        .contain{
            /* &.col-12{
                display: none;
            } */
            background: center / cover no-repeat url(../media/Lomi-Haus.jpg);

        }
        .content{

        }
    }
    .split-section{
        background-color: $green-bright;
    }
}