#about{
    background-color: $white-bg;

    #about-lomi{
        background-color: $white-bg;
        .contain{
            /* &.col-12{
                display: none;
            } */
            background: left / cover no-repeat url(../media/lomi-massage_min.jpg);
            opacity: 0.7;
        }
        .content{
            background-color: $brown-bright;
        }
    }
    #more-about-henriette{
        background-color: $green-bright;
    }
}