footer{
    padding: 50px 0;
    background-color: $green;
    img{
        padding: 6rem;
        aspect-ratio: 1 / 1;
         @include media-breakpoint-down(md){
             padding: 0 1rem;
         }
    }
    .footing{
        align-items: center;
    }
    .footer-content{
        font-size: 1.2rem;
        padding: 2rem;
        padding-left: 5rem;
        border-left: 1px solid $green-bright;
        @include media-breakpoint-down(md){
            border: none;
            font-size: 1.1rem;
        }
        a{
            display: block;
            &:hover{
                color: $green-bright;
            }
        }
        .internal-links{
            display: block;
            color: white;
            text-decoration: unset;
            font-weight: 900;
            margin-bottom: 1rem;
        }
        .contact-details{
            color: white;
            text-decoration: unset;
            margin: 0;
        }
        
    }
}