header{
    position: relative;
    background-color: $white-bg;
    &#header-home{
        position: relative;
        height: 90vh;
        @include media-breakpoint-up(xs){
            height: 85vh;
        }
        @include media-breakpoint-up(sm){
            height: 90vh;
        }
        #header-bg{
            position: absolute;
            top: 0;
            left: 0;
            height: 90vh;
            width: 100%;
            background-image: url("../media/header_mobile-min.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            opacity: .8;
            z-index: 2;
            @include media-breakpoint-up(xs){
                height: 85vh;
            }
            @include media-breakpoint-up(md){
                background-image: url("../media/header_min.jpg");
                background-position: center;
            }
            @include media-breakpoint-up(sm){
                height: 90vh;
            }
        }
    }
    .center-flex{
        position: relative;
        transform: translateY(-8%);
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $white-bg;
        z-index: 3;
        img{
            width: 30%;
            @include media-breakpoint-up(lg){
                width: 12%;
            }
        }
        h1{
            font-size: 3rem;
            margin-bottom: 2rem;
            @include media-breakpoint-up(md){
                font-size: 5rem;
            }
        }
        .btn-box{
            .massage-btn{
                color: $white-bg;
                background-color: $red-button;
                font-size: .8rem;
                @include media-breakpoint-up(md){
                    font-size: 1rem;
                }
            }
        }
        
    }
}
#info-banner{
    padding: 2rem;
    background-color: $white-bg;
    p{
        text-align: center;
        font-size: 1.4rem;
    }
}