nav{
    background:$green;
    height: 10vh;
    @include media-breakpoint-up(xs){
        height: 15vh;
    }
    @include media-breakpoint-up(sm){
        height: 10vh;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .menu-icon{
        height: 5vh;
        width: auto;
        @include media-breakpoint-down(md){
            height: 8vh;
        }
        @include media-breakpoint-down(sm){
            height: 6vh;
        }
    }
    ul{
        margin-left: auto;
        font-family: 'butler-light', 'Times New Roman', Times, serif;
        @include media-breakpoint-down(md){
            text-align: center;
        }
        li{
            padding: 0;
            margin-left: 2rem;
            a{
                color: $black-font;
            }
            &:last-child{
                border: $red-orange 3px solid;
                border-radius: 3px;
            }
        }                
    }
}